<%- include("./includes/header") %> 
<link rel="stylesheet" href="/css/table.css">
</head>
<body>

<%- include("./includes/navigation") %>
<% if (feedback.length > 0) { %>
<table class="container tables" border="1">
    <tr>
      <th>S.no</th>
      <th>Email</th>
      <th>Feedback</th>
     
    </tr>
    
      <% feedback.forEach(p => { %>
   
    <tr>
      <td><%=p.id%></td>
      <td><%=p.email_id%></td>
      <td><%=p.content%></td>
    </tr>
    <% }) }else{%>
   <h2 > No feedback found</h2>
   <% }%>
  </table> 
<%- include("./includes/end") %>
