<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/card.css">
    <title>
      Digital memories &mdash; Your all-in-one booking for photography
    </title>
  </head>
</html>
</head>


    <body>
        <%- include('./includes/navigation.ejs') %>

            <main>
                <% if (prods.length > 0) { %>
                    <section class="section-tours" id=" section-tours">
                        <div class="u-center-text u-margin-bottom-big">
                          <h2 class="heading-secondary">Most popular event session</h2>
                        </div>
                        <div class="grid">
                          <% if (prods.length > 0) { %>
                            <% prods.forEach(p => { %>
                            <div class="card">
                                <div class="card__side card__side--front">
                                  <div class="card__picture card__picture-1" style="--img:url(/<%= p.product_img %>);">&nbsp;</div>
                                  <h4 class="card__heading">
                                    <span class="card__heading-span card__heading-span--1"
                                      ><%= p.product_title%></span>
                                  </h4>
                                  <div class="card__details">
                                    <ul>
                                      <li>3 day tour</li>
                                      <li>Up to 30 people</li>
                                      <li>2 tour guides</li>
                                      <li>Sleep in cozy hotels</li>
                                      <li>Difficulty:easy</li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="card__side card__side--back card__side--back-1">
                                  <div class="card__cta">
                                    <div class="card__price-box">
                                      <p class="card__price-only">Only</p>
                                      <div class="card__price-value">$279</div>
                                    </div>
                                    <div class="card__actions">
                                        <a href="/admin/edit-product/<%= p.product_id %>?edit=true" class="btn">Edit</a>
                                        <form action="/admin/delete-product" method="POST">
                                            <input type="hidden" value="<%= p.product_id %>" name="productId">
                                            <button class="btn" type="submit">Delete</button>
                                        </form>
    
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <% })%>
                              <% } %>
                        </div>
                    </section>
                   
                        
      
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('./includes/end.ejs') %>