<%- include("../includes/header") %> 
<link rel="stylesheet" href="../css/card.css" />

</head>
<body>

<%- include("../includes/navigation") %>
<section class="section-tours" id=" section-tours">
    <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-secondary">Most popular event session</h2>
    </div>
    <div class="grid">
      <% if (products.length > 0) { %>
        <% products.forEach(p => { %>
        <div class="card">
            <div class="card__side card__side--front">
              <div class="card__picture card__picture-1" style="--img:url(/<%= p.product_img %>);">&nbsp;</div>
              <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--1"
                  ><%= p.product_title%></span>
              </h4>
              <div class="card__details">
                <ul>
                  <% p.product_description.split(".").forEach(p => { console.log(p,"4");%>
                  <li><%=p%></li> 
                    <% })%>
                  
                </ul>
              </div>
            </div>
            <div class="card__side card__side--back card__side--back-1">
              <div class="card__cta">
                <div class="card__price-box">
                  <p class="card__price-only">Only</p>
                  <div class="card__price-value"><%=p.product_price %>/-</div>
                </div>
                <% if (isAuthenticated) { %>
                  
                  <!-- <a href="./book_form" class="btn">Book now !</a> -->
                  <form action="/book_form" method="post">
                    <input type="hidden" name="id" value="<%=p.product_id%>">
                    <button class="btn" type="submit">Book now!</button>
                  </form>
              <% } %>
                <!-- <a href="/bookform" class="btn">Book now!</a> -->
              </div>
            </div>
          </div>
          <% })%>
          <% } %>
    </div>
</section>
<%- include("../includes/end") %>